#wrap {
    width: 1100px;
    margin: 0 auto;
}

#external-events {
    float: left;
    width: 100%;
    padding: 5px 10px;
    border: 1px solid #ccc;
    background: #eee;
    text-align: left;
}

#external-events h4 {
    font-size: 16px;
    margin-top: 0;
    padding-top: 1em;
}

#external-events .fc-event {
    margin: 10px 0;
    cursor: pointer;
}

#external-events p {
    margin: 1.5em 0;
    font-size: 11px;
    color: #666;
}

#external-events p input {
    margin: 0;
    vertical-align: middle;
}

#calendar {
    float: right;
    width: 100%;
    background: #fff;
}
.fc-day-header{
    background: #eee;
}
.fc-toolbar.fc-header-toolbar{
    margin: 10px;
}
.div1{
    width: 17%;
    margin-right: 3px;
    margin-left: 3px;
    float: left;
}
.div2{
    margin-left: 2px;
    width: 82%;
}
.div1,.div2{
    display: inline-block;
}
.datepicker table tr td.active{
    background-image: linear-gradient(to bottom,#1AB394,#1AB394);
}
.datepicker table tr td.active:hover{
    background-image: linear-gradient(to bottom,#1AB394,#1AB394);
}
.datepicker table tr td.today{
    background-image: linear-gradient(to bottom,#1C84C6,#1C84C6);
    color: white;
}
#page-wrapper .rower{
    margin-left: 3px;
}
.table-condensed{
    width: 100% !important;
}
.datepicker-inline {
    width: 100%;
}

.filterBTN{
    margin-top: 3px;
}
.birthdayEvent{
    background-color: rgb(149,45,142) !important;
    border-color: rgb(149,45,142) !important;
}
.fc-today.alert-info{
    background-color: unset;
}
.fc-today a.fc-day-number {
    border: 1px solid red;
    border-radius: 100%;
    background: red;
    color: white;
    height: 21px;
    width: 21px;
    text-align: center;
}
#googleSyncButtonsWrapper{
    display: flex;
    width: 100%
}
.calendarCheckbox{
    display: flex;
    justify-content: space-between;
}
.calendarDotsMenu{
    /*float: right;*/
    cursor:pointer;
    margin-right: 1rem;
}
#googleSyncButtonsWrapper{
    justify-content: center;
}
#removeGoogleCalendar, #changeGoogleAcountButton {
    font-size: 1vw;
}
.feed-element{
    overflow: unset;
}
@media only screen and (max-width: 1920px) {
    #removeGoogleCalendar, #changeGoogleAcountButton{
        font-size: 0.8vw;
    }
}
@media only screen and (max-width: 1450px) {
    #removeGoogleCalendar, #changeGoogleAcountButton{
        font-size: 14px;
    }
    .dropdown-menu{
        left: auto;
        right: 100%;
    }
}
@media only screen and (max-width: 480px) {
    .fc-today a.fc-day-number {
        height: 18px;
        width: 18px;
    }
    a.fc-day-number {
        padding: 0 !important;
        font-size: 12px;
    }
}
.calendarDropdownLink{
    padding: 4px;
}