#blankEmail .bootstrap-tagsinput{
    width: 100%;
    height: calc(1.5em + .5rem + 2px);
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
}
#blankEmail .bootstrap-tagsinput>input{
    padding: 0px !important;
}
.topLinks{
    font-size: 13px;
    color: #676a6c !important;
    margin-right: 10px;
}
.topLinks.active{
    color: #19aa8d !important;
    padding-bottom: 5px;
    border-bottom: 2px solid;
}
#placeHolderSwal div span{
    display: inline-block;
}
.myTemplateItem{
    width: 153px;
    margin: 15px;
    display: inline-block;
}
.ui-widget-shadow {
    background: #000;
}
.ui-widget-content {
    border: 1px solid #aaaaaa/*{borderColorContent}*/;
    background: #000;
    color: #fff/*{fcContent}*/;
}

.contain-box{
    background-color: #ffffff;
    border: 1px solid #e7eaec;
    border-top: 0;
    padding: 0;
}

.contain-body{
    border-top: 1px solid #e7eaec;
    padding: 20px;
}

.contain-footer{
    position: fixed;
    border-top: 1px solid #e7eaec;
    padding: 15px 0px 15px 0px;
    bottom: 0px;
    left: 0px;
    height: 70px;
    width: 100%;
    background-color: white;
}


.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    position: fixed;
    height: 140px;
    width: 140px;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.pace-inactive {
    display: none;
}

.pace .pace-activity {
    display: block;
    position: fixed;
    z-index: 2000;
    width: 140px;
    height: 140px;
    border: solid 2px transparent;
    border-top-color: #29d;
    border-left-color: #29d;
    border-radius: 70px;
    -webkit-animation: pace-spinner 400ms linear infinite;
    -moz-animation: pace-spinner 400ms linear infinite;
    -ms-animation: pace-spinner 400ms linear infinite;
    -o-animation: pace-spinner 400ms linear infinite;
    animation: pace-spinner 400ms linear infinite;
}

@-webkit-keyframes pace-spinner {
    0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@-moz-keyframes pace-spinner {
    0% { -moz-transform: rotate(0deg); transform: rotate(0deg); }
    100% { -moz-transform: rotate(360deg); transform: rotate(360deg); }
}
@-o-keyframes pace-spinner {
    0% { -o-transform: rotate(0deg); transform: rotate(0deg); }
    100% { -o-transform: rotate(360deg); transform: rotate(360deg); }
}
@-ms-keyframes pace-spinner {
    0% { -ms-transform: rotate(0deg); transform: rotate(0deg); }
    100% { -ms-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes pace-spinner {
    0% { transform: rotate(0deg); transform: rotate(0deg); }
    100% { transform: rotate(360deg); transform: rotate(360deg); }
}


  .fa-refresh:hover{
    color: lightgreen;
}
.usersTable tr{
    cursor: pointer;
}
#errorSpan,#errorTemplateSpan{
    color:red;
}

/*Templates Section */
.myTemplateItem{
    cursor: pointer !important;
    height: 225px;
    color:black;
    display: inline-block;
    margin: 15px 7px;
    border: 1px solid rgba(69,69,69,0.2);
    transition: ease-in-out all 0.2s;
}
.myTemplateTitle{
    font-weight: 600;
    font-size: 1em;
    padding-left: 5px;
    padding-top: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 140px;
    white-space: nowrap;
    min-height: 23px;
}
.myTemplateDepartment{
    font-weight: 100;
    font-size: 0.7em;
    padding-left: 5px;
    padding-top: 2px;
}
.myTemplateOptions{
    float: right;
    margin-right: 5px;
    font-size: 1.2em;
}
.dropdowner {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 9;
    list-style: none;
}
.dropdown-content li{
    padding: 2px;
}
.dropdown-content li:hover{
    border: 1px solid rgba(69,69,69,0.15);
}

.dropdowner:hover .dropdown-content {
    display: block;
}
#editTitle,#editSubject{
    margin-bottom: 5px;
}
.ui-tooltip{
    z-index: 20000;
    border: 0px;
    max-width: 200px;
    padding: 3px 8px;
    color: #fff;
    text-align: center;
    background-color: #000;
    border-radius: 4px;
}
.myTemplateOptions i{
    color:black;
}
.myTemplateItem:hover .buttonsContainer{
    opacity: 1 !important;
}
.myTemplateItem:hover .myTemplateImage img{
    display: none !important;
}
.myTemplateItem:hover .myTemplateImage{
    background: rgba(69,69,69,0.4) !important;
}
.middleButton {
    display: inline-block;
    width: 90%;
    margin: 5px 5%;
}
.buttonsContainer{
    cursor: auto;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    position: absolute;
    z-index: 9999;
    width: 150px;
    height: 182px;
    background-color: rgba(255,255,255,0.4);
}
.ui-helper-hidden-accessible{
    display: none;
}
.myTemplateImage canvas{
    width: 150px !important;
    height: 182px !important;
    margin-top: -59%;
}

.iframePreview{
    width: 602px;
    height: 727px;
    border: none;
    position: absolute;
    -ms-zoom: 0.25;
    -moz-transform: scale(0.25);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.25);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.25);
    -webkit-transform-origin: 0 0;
}

.iframePreview:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.iframePreview iframe {
    opacity: 0;
    transition: all 300ms ease-in-out;
}
.control-label{
    text-align:left !important;
}
.note-editor.note-frame {
    border: none;
}
.buttonsContainer{
    cursor: pointer;
}

#templateFolder{
    margin-top: 10px;
}