#treeView span{
    margin-right: 5px;
    margin-bottom: 9px;
}
#treeView{
    margin-bottom: 9px;
}
.icheckbox_square-green{
    margin-left: 5%;
}
.file-box{
    width: 200px;
}
.folders{
    float: right;
    display: inline-table;
}
i.fa.fa-arrow-circle-right {
    margin-right: 6px;
}
.file{
    margin-right: 19px;
}
.ui-state-hover .file{
    border: 2px dashed #d9d9d9;
    background: #F3F3F4;
}
.ui-draggable-dragging{
    margin-top: 40px;
}
.ui-draggable-dragging .icon,.ui-draggable-dragging .smallDate{
    display: none;
}
.ui-draggable-dragging{
    position: absolute;
    z-index: 99999999 !important;
}
span.fileinput-filename {
    text-overflow: ellipsis;
    overflow: hidden;
    width: auto;
    white-space: nowrap;
}