.noProviders{
    cursor: pointer;
    margin: 0;
    display: block;
    width:100%;
    text-align: center;
    background: #ed5564;
}

.noProviders p{
    padding: 4px;
    margin: 0;
    line-height: 1;
    vertical-align: middle;
    overflow: hidden;
    color:white;
}

.firstStep{
    background: white;
    border: 2px solid transparent;
    padding: 15px;
    margin-bottom: 2px;
}
.firstStep div{
    vertical-align: middle;
    display: inline-block;
}
.firstStep .stepStatus .fa{
    font-size: 24px;
    padding: 12px;
    margin-right: 25px;
    display: block;
    color:rgb(222,227,234);
}
.firstStep .stepStatus .fa.fa-checked{
    color:rgb(31,188,165);
}
.firstStep .stepContent h3{
    margin: 0;
    font-weight: 800;
    color: rgb(50,71,90);
}
.firstStep .stepContent h2{
    margin: 0;
    font-weight: bold;
    color: rgb(50,71,90);
}
.firstStep .stepContent h3.checked{
    text-decoration: line-through;
}

.firstStep .stepButton{
    float: right;
}
.firstStep .stepButton button.btn-toDoBtn{
    vertical-align: center;
    padding: 12px;
    border: 1px solid rgb(203,214,225);
    background: rgb(234,240,245);
    color: rgb(92,120,151);
}
.firstStep .stepButton button.btn-toDoBtn:disabled{
    vertical-align: center;
    padding: 12px;
    border: 1px solid rgb(203,214,225);
    background: rgb(234,240,245);
    color: rgb(92,120,151);
    text-decoration: line-through;
}
.firstStep .stepButton button.btn-toDoBtn:hover{
    vertical-align: center;
    padding: 12px;
    border: 1px solid rgb(190, 200, 210);
    background: rgb(224, 230, 235);
    color: rgb(83, 110, 141);
}

.firstStep.infoStep{
    padding: 20px;
}
.firstStep.infoStep .stepContent h2{
    margin-top: 15px;
}
.firstStep.infoStep .stepContent span{
    margin-top: 15px;
}