@media only screen and (max-width: 630px){
    .firstStep{
        margin-bottom: 15px;
    }
    .firstStep div{
        display: block;
    }
    .firstStep .stepStatus{
        width: 100%;
    }
    .firstStep .stepStatus .fa{
        margin: 0 auto;
        width: fit-content;
    }
    .firstStep .stepButton{
        float: unset;
        width: 100%;
    }
    .firstStep .stepButton button{
        margin: 13px auto 0 auto;
        display: block;
    }
    .firstStep.infoStep .fa{
        padding: 0;
    }
    .firstStep.infoStep .stepContent h2 {
        margin: 0;
    }
}
@media only screen and (max-width: 1200px){
    .hideMobile{
        display: none !important;
    }
}