.tasker{
    position: static !important;
    margin-right: 27px !important;
}
.delTask label{
    text-decoration: line-through !important;
    color:grey !important;
}
.showDelete{
    display: block!important;
}
#deleteList:hover{
    background: red;
}
.flot-chart{
    box-sizing: border-box;
    padding: 20px 15px 15px 15px;
    margin: 15px auto 30px auto;
    border: 1px solid #ddd;
    background: #fff;
    background: linear-gradient(#f6f6f6 0, #fff 50px);
    background: -o-linear-gradient(#f6f6f6 0, #fff 50px);
    background: -ms-linear-gradient(#f6f6f6 0, #fff 50px);
    background: -moz-linear-gradient(#f6f6f6 0, #fff 50px);
    background: -webkit-linear-gradient(#f6f6f6 0, #fff 50px);
    box-shadow: 0 3px 10px rgba(0,0,0,0.15);
    -o-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    -ms-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}
#dateRangeHomePage{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    min-width: 276px;
}
.providerWidth{
    width: 25%;
}
#tooltip{
    transition: ease-in-out all 0.2s;
}
.close-link{
    color: #f3f3f4;
    cursor: pointer;
}
@media only screen and (max-width: 750px) {
    #dateRangeHomePage {
        max-width: unset !important;
    }
}