.leadsTable{
    margin-bottom: 49px;
    width: 100%;
    margin-top: 9px;
}
.swal-modal .btn-danger:hover{
    background-color: #ec4758 !important;
}

.totalLeadsSpan{
    top: 0;
    left: 0;
    padding: 5px;
    width: 130px;
    text-align: center;
    border-top: 1px solid #e7eaec;
    border-bottom: 1px solid #e7eaec;
    border-left: 1px solid #e7eaec;
    border-right: 1px solid #e7eaec;
    background: #f8f8f8;
}
.totalPagesSpan{
    top: 0;
    left: 0;
    padding: 5px;
    text-align: center;
    border: 1px solid #e7eaec;
    background: #f8f8f8;
}
#leadsTableHead{
    background-color: #ffffff;
}
#leadsTableHead tr{
    cursor: pointer;
}
#leadsTableHead tr td {
    vertical-align: middle;
}
.selectedRow{
    background-color: #36a2ff !important;
    border: 1px solid #36a2ff !important;
    color: white !important;
}
.selectedRow:hover{
    background-color: #70bcfd !important;
    border: 1px solid #c1c1c1 !important;
    color: white !important;
}
.inliner{
    display: inline-table;
}
.inputer{
    background: white;
    border: 1px solid #F3F3F4;
    padding: 5px;
}
.inputer span{
    margin-left: 3px;
}
button#theBTN,button.backBTN{
    float: right;
    margin-top: -5px;
}
#filterBTN .form-control{
    width: 142px;
    display: inline-table;
    margin-top: -5px;
    font-size: 13px;
    height: 29px;
}
#selectedFilters{
    margin-right: 3px;
}
.backBTN{
    margin-left: 5px;
}
.reportrange{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: inline-table;
    background-color: #FFFFFF;
    vertical-align: middle;
    background-image: none;
    border: 1px solid #e5e6e7;
    border-radius: 1px;
    color: inherit;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}
.goalsResults .ibox .ibox-content{
    padding: 15px 20px 18px 20px;
}
.icon-NM{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    background-image: url(https://d28bwzd6sq9xgl.cloudfront.net/images/favicon.ico);
    background-position: center center;
    height: 14px;
    /*line-height: 14px;*/
    width: 14px;
    margin-right: 5px;
}
span.pull-right.label.label-danger {
    font-size: 8px;
    padding: 4px;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 5px;
}
#leadsTableHead .form-control,#leadsTableHead .single-line{
    padding: 1px 10px !important;
}
#topBTN {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #999999db;
    color: white;
    cursor: pointer;
    padding: 8px;
    border-radius: 4px;
    height: 40px;
    width: 40px;
}
#topBTN:hover {
    background-color: #555;
}
.hotLead{
    color: #ffffff !important;
    background: linear-gradient(45deg, #F44336, #FFEB3B);
}
.hotLead:hover{
    background: linear-gradient(45deg, #af0000, #FFEB3B);
}
.bookedRow{
    background-color: rgba(26,179,148,0.4);
    color: #ffffff;
}
.finishedRow{
    background-color: #1c84c680;
    color: #ffffff;
}
