#leftPager div.myLinks{
    border-bottom: 1px solid #eee;
    padding: 13px 13px 13px 13px;
}
.checkbox input[type="checkbox"]:focus + label::before {
    outline: none;
}
.inputer{
    height: 23px;
    width: 200px;
    padding: 0px 4px;
    font-size: 12px;
    margin: 3px auto;
}
.dater{
    width: 238px;
    cursor: pointer;
}
.dater span{
    cursor: pointer;
}
#leadTags .pull-right .tagColor{
    cursor: pointer;
    margin-left: 5px;
    background: white;
    border: 1px solid;
}
#leadTags .pull-right{
    overflow-x: auto;
    max-width: 240px;
    height: 43px;
    padding: 2px;
}
.inputer-width{
    width: 200px;
}
.padIt{
    padding: 15px 20px 20px 20px;
}
.menuBtn{
    color: inherit;
    background: white;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    position: relative;
    width: 100%;
}
.menuBtn:hover{
    background-color: #efefefe0;
}
.tabMenu1{
    border: none;
    border-left: 1px solid whitesmoke;
    border-radius: 0px;

}
.tabMenu2{
    border: none;
    border-left: 1px solid whitesmoke;
    border-radius: 0px;
}
.menuBtns .active{
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15) inset;
    background-color: #efefefe0;
}
.tab{
    display: none;
}
.halfInput{
    padding: 1px;
    height: 23px;
    width: 98px;
    max-width: 170px !important;
    display: inline-block;
}
.addoner .input-group-addon {
    font-size: 12px;
    line-height: 0px;
}
#estimateVIP>.label{
    font-size: 13px;
    vertical-align: middle;
}
.labelInputPlaceholder {
    position: absolute;
    top: 0;
    padding: 7px 0 0 13px;
    font-size: 75%;
    transform: translate3d(0, -100%, 0);
    opacity: 1;
    margin-left: -11px;
    margin-top: -4px;
}
.labelInput:focus + .labelInputPlaceholder,
.labelInput:not([value=""]) + .labelInputPlaceholder{
    font-size: 75%;
    transform: translate3d(0, -100%, 0);
    opacity: 1;
    margin-left: -11px;
    margin-top: -4px;
}
.form-group {
    margin-bottom: 25px;
}
.tabHeader{
    color: rgba(0,0,0,0.32);
    font-size: 18px;
    margin: 0;
}
div.myLinks.active{
    background: #f3f3f3;
    font-weight: 800;
    font-size: 1em;
}
div.myLinks{
    cursor: pointer;
}
div.myLinks:hover{
    font-weight: 800;
    background: #f3f3f3;
}
#map {
    height: 249px;
    margin-bottom: 25px;
}
.shortenText{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 75%;
    text-align: right;
}
.ibox-content{
    border: none;
}
.ibox{
    border: 1px solid #e0e0e0;

}
.btn-update{
    padding: 1px 5px;
    font-size: 9px;
    margin-left: 8px;
}
.text-bold{
    font-weight: 700;
    font-size: 12px;
}
#brandNewAccount{
    margin-top: 11px;
    margin-bottom: 5px;
}
#newEmailTab .input-group{
    margin-bottom: 5px;
}
.note-editor{
    margin-top: 9px;
}
#previewSubject {
    height: 50px;
}
.modeler{
    padding: 1px 1px 1px 1px;
    background-color: #fff;
}
#insertDropDown-1{
    float: right;
}
.control-label{
    padding-top: 7px;
    margin-bottom: 0;
    text-align: left;
}
.estimateRow input{
    height: 29px;
}
.input-group-addon{
    color: #8a8a8a;
}
.note-editor.note-frame {
    border: 0 !important;
}
#leadTopName{
    min-height: 33px;
}
.blinker {
    animation: blinkIt 1.5s linear infinite;
}
@keyframes blinkIt {
    50% {
        opacity: 0;
    }
}

/* Move Estimate Checkbox */
#page-4 .checkbox label:not(.regularCheck)::before {
    width: 12px;
    height: 12px;
    margin-top: 3px;
}
#page-4 .checkbox label:not(.regularCheck)::after {
    margin-left: -19px;
    padding-left: 2px;
    padding-top: 1px;
    font-size: 8px;
    margin-top: 3px;
}
#page-4 .checkbox{
    margin-top: 2px;
}
#page-4 .checkbox label{
    padding-left: 0;
}
.half-control{
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #e5e6e7;
    height: 34px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 1px;
    color: inherit;
    display: inline-block;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 49%;
    margin-right: 5px;
}
.half-control[disabled], .half-control[readonly], fieldset[disabled] .half-control {
    background-color: #eee;
    opacity: 1;
    cursor: not-allowed;
}
#leadTopPhone a{
    
}
.swal-modal{
    min-width: fit-content;
}
.file-box:hover button.deleteBtn{
    display: block !important;
}
.deleteBtn:hover{
    background-color: #de2d3f !important;
    border-color: #c73b4a !important;
    color: #FFFFFF !important;
}
input[type="checkbox"] {
    cursor: pointer;
}
.disabled-picker {
    opacity: 0.7;
    pointer-events: none;
}
.text-center .swal-text{
    text-align: center;
}
#estimateDetails .checkbox, .radio {
    margin-bottom: 5px;
    max-width: 170px;
}