.usersTable tr{
    cursor: pointer;
}
.accountsTable{
    margin-bottom: 0px !important;
}
.accountsTable th,td{
    text-align: center;
}
.accountsTable tbody tr td{
    vertical-align: middle;
}
@media only screen and (max-width: 480px) {
    #btnContainer{
        float: none !important;
        margin-top: 0px !important;
    }
    #btnContainer a{
        width: 100%;
    }
}