#preDefinedTemplates{
    width: 100%;
    height: fit-content;
    padding: 1%;
    background: #424249;
    padding-bottom: 60px;
}
#preDefinedTemplatesHead{
    width: 100%;
    color:white;
    margin: 8px;
}
.preDefinedTemplateItem{
    cursor: pointer;
    height: 200px;
    color:white;
    margin: 8px;
    width: 150px;
    display: inline-table;
}
.preDefinedTemplateImage img{
    height: 182px;
}
.preDefinedTemplateTitle{
    font-weight: 600;
    font-size: 1em;
}
.preDefinedTemplateDescription{
    font-weight: 100;
    font-size: 0.7em;
}
#myTemplates{
    width: 100%;
    margin: 1%;
}
.addFolder{
    margin: 1% 0 0 28px;
}
#myFolders {
    width: 100%;
    margin: 1%;
}
.templateFolder{
    border: 1px solid rgba(69,69,69,0.2);
    width: 120px;
    padding: 8px;
    text-align: center;
    cursor: pointer;
    display: inline-table;
    margin-left: 15px;
    margin-bottom: 15px;
}
.templateFolder:hover .fa{
    color: #a89154;
}
.templateFolderTop .fa-folder,.templateFolderTop .fa-folder-open{
    color: #e5c97a;
}
.templateFolderTop.rootFolder .fa-folder,.templateFolderTop.rootFolder .fa-folder-open{
    color: #3872c5 !important;
}
.templateFolderTop{
    font-size: 40px;
    border-bottom: 1px solid rgba(69,69,69,0.2);
}
.templateFolderName{
    font-size: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100px;
    white-space: nowrap;
}
.myTemplateItem{
    cursor: pointer;
    height: 225px;
    color:black;
    display: inline-block;
    margin: 15px 7px;
    border: 1px solid rgba(69,69,69,0.2);
    transition: ease-in-out all 0.2s;
}
.myTemplateTitle{
    font-weight: 600;
    font-size: 1em;
    padding-left: 5px;
    padding-top: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 140px;
    white-space: nowrap;
    min-height: 23px;
}

.myTemplateDepartment{
    font-weight: 100;
    font-size: 0.7em;
    padding-left: 5px;
    padding-top: 2px;
}
.myTemplateOptions{
    float: right;
    margin-right: 5px;
    font-size: 1.2em;
}
.dropdowner {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 9;
    list-style: none;
}
.dropdown-content li{
    padding: 2px;
}
.dropdown-content li:hover{
    border: 1px solid rgba(69,69,69,0.15);
}

.dropdowner:hover .dropdown-content {
    display: block;
}
#editTitle,#editSubject{
    margin-bottom: 5px;
}
.ui-tooltip{
    z-index: 20000;
    border: 0px;
    max-width: 200px;
    padding: 3px 8px;
    color: #fff;
    text-align: center;
    background-color: #000;
    border-radius: 4px;
}
.myTemplateOptions i{
    color:black;
}
.myTemplateItem:hover .buttonsContainer{
    opacity: 1 !important;
}
.myTemplateItem:hover .myTemplateImage img{
    display: none !important;
}
.myTemplateItem:hover .myTemplateImage{
    background: rgba(69,69,69,0.4) !important;
}
.middleButton {
    display: inline-block;
    width: 90%;
    margin: 5px 5%;
}
.buttonsContainer{
    cursor: auto;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    position: absolute;
    z-index: 9999;
    width: 150px;
    height: 182px;
    background-color: #cececeb3;
}
.ui-helper-hidden-accessible{
    display: none;
}
.myTemplateImage canvas{
    width: 150px !important;
    height: 182px !important;
    margin-top: -59%;
}

.iframePreview{
    width: 599px;
    height: 727px;
    border: none;
    position: absolute;
    -ms-zoom: 0.25;
    -moz-transform: scale(0.25);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.25);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.25);
    -webkit-transform-origin: 0 0;
}

.iframePreview:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.iframePreview iframe {
    opacity: 0;
    transition: all 300ms ease-in-out;
}
#activeFolder{
    margin-left: 9px;
    display: inline-block;
}