.fa-refresh:hover{
    color: lightgreen;
}
.usersTable tr{
    cursor: pointer;
}
.accountsTable{
    margin-bottom: 0px !important;
}
.accountsTable th,.accountsTable td{
    text-align: center;
}
#view2 *,#view3 *{
    margin-bottom: 8px;
}
.fr-toolbar{
    margin-bottom: 0 !important;
}
#preEmails tr td{
    text-align: left;
    vertical-align: middle;
}
#insertDropDown-1{
    float: right;
}
.swal-text{
    text-align: center;
    font-weight: bold;
}
#totalEmails{
    border: 1px dotted rgb(201,201,201);
    display: none;
    padding: 4px;
    height: 30px;
    padding-top: 6px;
}
#emailsContainer tr:hover{
    background: rgb(231,231,231);
}
#composeNewEmail{
    margin-right:15px;
    margin-left:15px;
    margin-bottom:5px;
}
.buttonUnsubscribers{
    float: right;
}
#searchBarContainer label{
    margin: 0!important;
}
.mail-box-header{
    padding: 20px 20px 0px 20px !important;
}
@media only screen and (max-width: 1200px) {
    .mobileHide{
        display: none;
    }
}
@media screen and (max-width: 767px){
    .buttonUnsubscribers {
        float: right;
    }
    .buttonUnsubscribers{
        float: left;
    }
}
@media only screen and (max-width: 480px) {
    .btn-group button {
        font-size: 12px;
        padding: 4px;
    }
    .mail-box-header a button{
        width: 100%;
    }
    .mail-box-header select{
        border: 1px solid rgb(201,201,201);
        width: 100% !important;
        margin: 0 auto !important;
    }
    #totalEmails{
        float: left;
    }
    #totalEmailContainer{
        float: left !important;
    }
    .ibox-content.ibox-heading a.btn{
        width: 100%;
        margin-bottom: 10px;
    }
    #textMsg{
        display: block;
        margin-bottom: 15px;
    }
    #allTheUnsubscribesWrapper,#allTheUnsubscribes{
        width:100%;
    }
    #dateRangeOutgoingEmails{
        width: 100% !important;
        margin-right: 0 !important;
    }
    #totalEmailsTopWrapper{
        width: 100%;
    }
    .totalEmailsButtons{
        margin-left:auto;
    }
    #composeNewEmailWrapper{
        width: 100%;
    }
    #composeNewEmail{
        margin-left:0;
    }
    #searchBarContainer, label{
       width: 100%;
       margin-right: 0 !important;
    }
    #searchBarContainer{
        order:1;
    }
    #searchAndSelectUserContainer{
        width: 100%;
    }
    #userSentSelect{
        margin-bottom: 5px !important;
    }
}