.fa-refresh:hover{
    color: lightgreen;
}
.phonesCover{
    position: absolute;
    width: 98%;
    background: rgba(147,147,147,0.7);
    height: 100%;
}
.swal-modal .btn-danger:hover{
    background-color: #ec4758 !important;
}
.phonesCover button{
    margin-top: 65px;
}
.usersTable tr{
    cursor: pointer;
}
.accountsTable{
    margin-bottom: 0px !important;
}
.accountsTable th,.accountsTable td{
    text-align: center;
}
#view2 *,#view3 *{
    margin-bottom: 8px;
}
.fr-toolbar{
    margin-bottom: 0 !important;
}
#preEmails tr td{
    text-align: left;
    vertical-align: middle;
}
#insertDropDown-1{
    float: right;
}
.swal-text{
    text-align: center;
    font-weight: bold;
}