.fa-refresh:hover{
    color: lightgreen;
}
.usersTable tr{
    cursor: pointer;
}
.accountsTable{
    margin-bottom: 0px !important;
}
.accountsTable th,.accountsTable td{
    text-align: center;
}
#view2 *,#view3 *{
    margin-bottom: 8px;
}
.fr-toolbar{
    margin-bottom: 0 !important;
}
#preEmails tr td{
    text-align: left;
    vertical-align: middle;
}
#insertDropDown-1{
    float: right;
}
.swal-text{
    text-align: center;
    font-weight: bold;
}
.mail-ontact {
    width: 45% !important;
}
#totalEmails{
    border: 1px dotted rgb(201,201,201);
    display: none;
    padding: 4px;
}