.fa-refresh:hover{
    color: lightgreen;
}
.usersTable tr{
    cursor: pointer;
}
.deletedUser{
    background-color: #f5f5f5;
}
.countryCodeState>.btn{
    height: 34px;
}
.list-group-item{
    border: none !important;
    margin-top: 0px !important;
    padding-top: 0px !important;
}
.clients-list .tab-pane{
    height: 100% !important;
}
#myOrg:after{
    content: 'My Organization';
}
#sideTabs div.clients-list ul.nav-tabs li {
    float: none !important;
    display: inline-block;
}
#sideTabs div.clients-list ul.nav-tabs li a{
    padding: 3px;
    text-align: left;
}
.tab-content{
    margin-top: 6px;
}
.mydivi button {
    margin-top: 5px;
}
.selectedRow{
    background-color: #b6e1ef !important;
    color: white !important;
}
.dropdown-menu>li>a.label-danger:hover {
    background: #ec4758 !important;
    border-color: #ec4758 !important;
}