/* START Trucks Section */

#trucks .items-table td,th{
  padding: 3px;
  text-align: center;
  vertical-align: middle !important;
}
#trucks .main-table td,th{
  padding: 3px;
  text-align: center;
  vertical-align: middle !important;
}
#trucks #trucksNames tr:hover{
  cursor: pointer;
}
#trucks #trucksLeftDetails input, #trucksRightDetails input{
  height: 26px;
}
#trucks #trucksRightDetails li, #trucksLeftDetails li {
  padding: 6px 0px;
}
#trucks .onoffswitch {
  position: relative; width: 95px;
  -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
#trucks .onoffswitch-checkbox {
  display: none;
}
#trucks .onoffswitch-label {
  display: block; overflow: hidden; cursor: pointer;

}
#trucks .onoffswitch-inner {
  display: block; width: 200%; margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
#trucks .onoffswitch-inner:before, .onoffswitch-inner:after {
  display: block; float: left; width: 50%; height: 19px; padding: 0; line-height: 19px;
  font-size: 13px; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
  box-sizing: border-box;
}
#trucks .onoffswitch-inner:before {
  content: "Active";
  padding-left: 13px;
}
#trucks .onoffswitch-inner:after {
  content: "Inactive";
  padding-right: 13px;
  text-align: right;
}
#trucks .onoffswitch-switch {
  display: block; width: 22px;
  right: 72px;
  transition: all 0.2s ease-in 0s;
}
#trucks .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
#trucks .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
}
#trucks #trucksRightDetails{
  float: right;
}
#trucks #trucksLeftDetails{
  float: left;
}

/* END Trucks Section */
/* START Storage Section */

#storage .items-table td,th{
  padding: 3px;
  text-align: center;
  vertical-align: middle !important;
}
#storage .main-table td,th{
  padding: 3px;
  text-align: center;
  vertical-align: middle !important;
}
#storage .list-group-item input{
  height: 25px;
}
#storage .list-group-item{
  padding: 10px 0 0 0 !important;
}
#storage #storagesNames tr:hover{
  cursor: pointer;
}
#storage .onoffswitch {
  position: relative; width: 95px;
  -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
#storage .onoffswitch-checkbox {
  display: none;
}
#storage .onoffswitch-label {
  display: block; overflow: hidden; cursor: pointer;

}
#storage .onoffswitch-inner {
  display: block; width: 200%; margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
#storage .onoffswitch-inner:before, .onoffswitch-inner:after {
  display: block; float: left; width: 50%; height: 19px; padding: 0 3px; line-height: 19px;
  font-size: 13px; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
  box-sizing: border-box;
}
#storage .onoffswitch-inner:before {
  content: "Active";
  padding-left: 13px;
}
#storage .onoffswitch-inner:after {
  content: "Inactive";
  padding-right: 13px;
  text-align: right;
}
#storage .onoffswitch-switch {
  display: block; width: 22px;
  right: 72px;
  transition: all 0.2s ease-in 0s;
}
#storage .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
#storage .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
}
#storage #divBottomStorageLeft,#divTopStorageLeft{
  float: left;
}
#storage #divBottomStorageRight,#divTopStorageRight{
  float: right;
}

/* END Storage Section */
/* START Inventory Section */

#inventory .items-table td,th{
  padding: 3px;
  text-align: center;
  vertical-align: middle !important;
}
#inventory .main-table td,th{
  padding: 3px;
  text-align: center;
  vertical-align: middle !important;
}
#inventory .main-table tr{
  cursor: pointer;
}
#inventory #addGroupBtn{
  float: right;
}
#inventory #itemBTN,#inventory #itemSaveBTN{
  float: right;
}
#inventory #h2Span{
  float: left;
}
#inventory .inventory-group-list{
  margin-top: 38px;
}
#inventory #itemsSearch{
  width: 100%;
}
/* END Inventory Section */
/* START Materials Section */

#materials .inputHead{
  min-width: 150px;
}

/* END Materials Section */
/* START Sale Performance Section */

#salePerformance #reportrange{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* END Sale Performance Section */
/* START Advertising Performance Section */

#advertisingPerformance #reportrangeAdvert{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
#advertisingPerformance #advertFooter{
  color: darkslategrey;
  background: #F5F5F6;
  font-weight: bold;
}

/* END Advertising Performance Section */
/* START Moving Settings Section */

#movingSettings .tab-pane .checkbox .checkbox-primary{
  padding-bottom: 16px;
}
#movingSettings .tab-pane .form-group{
  padding-bottom: 26px;
}
#movingSettings .tab-pane div label{
  padding-left: 0;
}
#movingSettings .checkbox{
  padding-bottom: 11.5px;
}
#movingSettings .checkbox label, .radio label {
  font-weight: bold;
}
#movingSettings .movingSettings .form-group{
  height: 30px;
}

#movingSettings #price-send{
  margin-top: 5%;
}
#date_picker{
  width: 100%;
}

/* END Moving Settings Section */