.btn-large{
    font-size: 18px;
    line-height: 17px;
    color: rgb(120,120,120);
    font-weight: 500;
    padding: 10px;
    width: 100%;
    height: 70px;
    background-repeat: no-repeat;
    background-size: cover;
    border: 0;
}
.btn-large:hover{
    color:black;
}
.btn-large.active{
    color:black !important;
}
#movingMenu .btn-primary:focus,#movingMenu .btn-primary:active{
    color:black;
}
.menu-sub{
    display: block;
    font-size: 12px;
    text-align: left;
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}
.menu-item{
    text-align: left;
    margin-top: 12px;
    display: block;
}
.menu-full{
    display: block;
    margin: 10px auto;
}
.menu-full div:first-child{
    background: #E6E6E6;
    box-shadow: rgb(229,241,244) 3px 3px 1px;
    padding: 0;
}
.secondBox.ibox-content{
    min-height: 100vh;
    margin-bottom: 10%;
}
.swal-modal .btn-link:hover{
    border: 0 !important;
    background-color: unset !important;
    color: #337ab7 !important;
}
#summernote{
    display: none !important;
}
.note-editor.note-frame{
    border:1px solid #e4e4e4 !important;
    margin-top: 37px;
    display: block;
}