.dropdown-toggle{
    height: 33px;
}
#myCustomModal .nav > li > a {
    font-size: 16px;
    color: #fff;
}
#myCustomModal .nav > li.active{
    background: #eeeeee;
    border: none;
}
#myCustomModal .nav > li.active > a{
    color: #565656 !important;
}
#myCustomModal .nav>li>a:hover{
    color: #565656 !important;
}
#country-listbox{
    z-index: 99999;
}
.intl-tel-input{
    width: 100%;
}
.flag-container{
    z-index: 9998;
}
.input-group .form-control {
    float: none;
}
@media only screen and (max-width: 600px) {
    .modal-dialog{
        width: 90% !important;
        height: 80%;
        margin: 15% auto;
    }
    .modal-content > div:first-child{
        width: 10% !important;
        height: 100% !important;
    }
    .modal-content{
        height: 100%;
    }
    .modal-content div:not(:first-child){
        align-content: center;
    }
    #profileTab,#profileSettingsTab{
        width: 85% !important;
        float: right;
        height: 100% !important;
    }
    .modal-footer{
        width: 90% !important;
        position: static !important;
    }
    #myCustomModal .modal-body{
        padding: 4px;
    }
    #myCustomModal .nav > li > a {
        padding: 15px 7px !important;
    }
    #myCustomModal .input-group-btn button{
        margin: unset;
    }
    #myCustomModal #profileTab  .input-group{
        width: 100% !important;
    }
    #myCustomModal #side-menu li a span.nav-label{
        display: block !important;
        font-size: 9px;
    }
    #myCustomModal .half{
        display: block;
        width: 100%;
        margin-bottom: 15px;
    }
    #myCustomModal .half .birthday{
        width: 32%;
    }
}

/* Change Picture */

.bgColor {
    max-width: 100%;
    height: 100%;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 4px;
    text-align: center;
}
#targetOuter{
    position:relative;
    text-align: center;
    background-color: #ffffff;
    margin: 20px auto;
    width: 100%;
    height: 100px;
    border-radius: 4px;
}
.btnSubmit {
    background-color: #565656;
    border-radius: 4px;
    padding: 10px;
    border: #333 1px solid;
    color: #FFFFFF;
    width: 200px;
    cursor:pointer;
    margin-top: 100px;
}
.inputFile {
    padding: 99px 99px;
    margin-top: -50px;
    margin-left: -150px;
    background-color: #FFFFFF;
    width: 398px;
    height: 100px;
    overflow: hidden;
    opacity: 0;
    cursor:pointer;
}
.icon-choose-image {
    position: absolute;
    opacity: 0.2;
    top: 50%;
    left: 50%;
    margin-top: -49px;
    margin-left: -67px;
    width: 120px;
    height: 120px;
}
.icon-choose-text {
    position: absolute;
    opacity: 0.3;
    top: 100%;
    left: 25%;
    margin-top: -49px;
    width: 200px;
    height: 100px;
    font-size: 1.2em;
}
.half{
    width: 49%;
    display: inline-block;
}
#changeImage:not(label){
    display: inline-block;
    width: 100%;
    text-align: center;
}
#changeImage img{
    height: 100px;
    cursor: pointer;
}
.upload-preview {border-radius:4px;}
#body-overlay {background-color: rgba(0, 0, 0, 0.6);z-index: 999;position: absolute;left: 0;top: 0;width: 100%;height: 100%;display: none;}
#body-overlay div {position:absolute;left:50%;top:50%;margin-top:-32px;margin-left:-32px;}
#changeProfileModalBody{
    padding: 0px !important;
}

#changeImage .form-group{
    text-align: left;
}
.birthday{
    width: 31%;
    display: inline-block;
}
#birthDayLabel{
    width: 100%;
}
.popover{
    z-index: 2500;
}
.icon-choose-text{
    font-size: 64px;
    display: block;
    margin: 74px auto;
    position: unset;
    left: unset;
    width: unset;
    height: unset;
}