* {
    font-family: Montserrat;
}
header{
    height: 60px;
}
header .container{
    height: inherit;
}
header .container a{
    color: black;
}
header .container a:hover{
    text-decoration: none;
}
.heroContainer{
    position: relative;
    min-height: 350px;
}
.pagination{
    flex-direction: row;
}
.hero{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    width: 100%;
    padding: 25px;
    background: rgba(0,0,0,0.5);
}
.hero h2{
    letter-spacing: 5px;
    font-size: 22px;
    text-transform: uppercase;
    color:white;
    font-weight: 900;
}
.btn-custom{
    background-color:#ff7e4e;
    color:#fff;
}
.custom-container{
    display: block;
    width: 50%;
    margin: 0 auto;
}
.custom-container .row div{
    padding: 2px;
}
.snd-div {
    text-align: center;
    margin-top: 30px;
    font-size: 25px;
}
.img-2 {
    width: 80px
}
.p-1{
    text-align: left;
}
.h-5{
    text-align: left;
}
.grey{
    background: #eee;
}
.myRows{
    padding: 0;
}
.myRows .container{
    padding: 50px 0;
}
@media (min-width:768px) and (max-width:991.98px) {
    .custom-num {
        margin-left: 536px
    }
    .container {
        max-width: 880px;
    }
}
@media screen and (max-width:768px) {
    .hero h2{
        letter-spacing: unset;
        font-size: unset;
        text-transform: uppercase;
        color:white;
        font-weight: 900;
    }
    .mobileBig{
        width: 100%;
        max-width: 100%;
        flex: 0 100%;
    }
    .custom-container{
        width: 90%;
    }
    .hero{
        margin-left: -19px;
    }
    .mobileHide{
        display: none;
    }
    .neww .col-md-7{
        width: 0;
        max-width: 0;
        flex: unset;
        padding: 0;
        margin: 0;
    }
    .neww .col-md-4{
        width: 75%;
        max-width: 75%;
        flex: unset;
    }
    .neww{
        padding-top: 5%;
    }
    .container{
        width: 100%;
    }
    #getEstimate{
        height: 70px;
    }
    .tabletTop{
        margin-top: 35px;
    }
    .footer-wrapper.footer-bg {
        height: fit-content
    }
    .box {
        margin-top: 0
    }
    .banner {
        background: url("https://loyalmover.nyc3.cdn.digitaloceanspaces.com/images/design.jpg") no-repeat scroll 0 0/100% 100%;
        padding: 20px 0
    }
    .snd-div {
        font-size: 14px;
        margin-top: 0 !important;
    }
    .box {
        margin-left: 0;
        margin-top: 0;
    }
    #img-2 {
        width: 50px
    }
    #hd-3 {
        font-size: 12px;
        text-align: center
    }
    #aka {
        margin-left: 100px
    }
    #aka-1 {
        margin-bottom: 50px
    }
    #top-img {
        visibility: hidden
    }
    #phone {
        text-align: center
    }
    .img-1 {
        visibility: visible
    }
    .center-image{
        margin-bottom: 25px;
    }
    .p-1{
        text-align: left;
    }
    .h-5{
        text-align: left;
    }
    .custom-f{
        font-size: 14px;
        margin-top: 4px;
        margin-bottom: 8px;
    }
    .custom-n img {
        margin-top: 8px;
    }
    .myRows > div{
        display: -webkit-flex; /* Safari */
        display: flex;
    }
    .myRows div .container .row .col-md-6:not(.text-center){
        order: 1;
        margin-bottom: 25px;
    }
    .myRows div .container .row .col-md-6.text-center {
        order: 2;
    }
    .navbar-brand{
        width: 200px !important;
        margin-left: 0;
    }
    .myRows .row{
        margin-left: 0!important;
        margin-right: 0!important;
    }
    .grey{
        background: unset !important;
    }
}

@media (max-width:575.98px) {
    .myRows .container {
        padding: 0 0;
    }
    .neww .col-md-4{
        width: 100%;
        max-width: 100%;
    }
    .titlePhone{
        font-size: 26px;
        margin-top: 7px;
        font-weight: 900;
        color:white
    }
    #phone{
        font-size: 26px;
    }
    .custom-h1{
        letter-spacing: 3px;
        font-weight: 800 !important;
    }
    .footer-wrapper.footer-bg {
        height: 500px
    }
    .main-section {
        background: unset
    }
    .snd-div{
        font-size: 14px !important;
    }
    .tabletTop{
        margin-top: 20px;
    }
    .footer-links li{
        margin-bottom: 30px;
    }
    .footer-social li a i{
        font-size: 38px;
    }
    .navbar{
        padding: 0 !important;
    }
    .neww{
        padding-top: 0 !important;
    }
}
@media (max-width:350px) {
    .snd-div{
        font-size: 12px !important;
    }
}