@media (max-width: 575.98px) {

    .footer-wrapper.footer-bg {
        height: 500px;
    }

    .custom-n {
        margin: 0 auto;
        width: 126px;
    }
   #phone{
        color: dodgerblue;
    }
   
    
}


@media (min-width: 576px) and (max-width: 767.98px) {
    .footer-wrapper.footer-bg {
        height: 500px;
    }

    .custom-n {
        margin: 0 auto;
        width: 126px;
    }
    #phone{
        color:dodgerblue;
    }
    .box{
        margin-top: 0;
    }

}


@media (min-width: 768px) and (max-width: 991.98px) {
    .custom-num {
        margin-left: 536px;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    ...
}


@media (min-width: 1200px) {
    ...
}
