* {
    font-family: Montserrat;
}
main{
    background: #efefef;
    padding-top: 0;
    padding-bottom: 35px;
}

.btn-custom{
    background-color:#ff7e4e;
    color:#fff;
    margin-top: 20px;
    margin-bottom: 20px;
}
.customBox{
    margin-top: 35px;
    border:1px solid #ccc;
    background: white;
}
.customBox h2{
    font-size: 22px;
    margin: 12px 6px;
    font-weight: 900;
}
.bg-custom{
    background-color:#52819d;
}
.my-custom-control{
    text-align: center;
    height: 42px;
    width: 50%;
    margin: 10px auto 25px;
    border: 1px solid grey;
}
#progressBarContainer{
    padding: 20px 15px;
    background: rgba(61,69,73,1);
    width: 100%;
    z-index: 9999;
}
.progress{
    height: 25px;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%
}
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}
#percentage{
    color: #52819d;
}
/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
.col-4 label{
    margin-top: 17px;
    font-size: 14px;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@media (max-width:768px) {
    .my-custom-control{
        width: 100%;
        height: 35px;
        margin: 10px auto;
    }
    #percentage{
        margin-left: -18px;
    }
    .col-4 label{
        font-size: 13px;
    }
}