* {
    font-family: Montserrat;
}
main{
    background: #efefef;
    padding-top: 35px;
    padding-bottom: 35px;
}
.btn-custom{
    background-color:#ff7e4e;
    color:#fff;
    margin-top: 20px;
    margin-bottom: 20px;
}
.bg-custom{
    background-color:#52819d;
}
.customBox{
    margin-top: 35px;
    border:1px solid #ccc;
    background: white;
}
.customBox h2{
    font-size: 22px;
    margin: 25px;
    font-weight: 900;
}
.my-custom-control{
    text-align: center;
    height: 36px;
    width: 200px;
    margin: 10px auto 25px;
    border: 1px solid grey;
}
#progressBarContainer{
    padding: 20px 15px;
    background: rgba(61,69,73,1);
    position: fixed;
    width: 100%;
    z-index: 9999;
    display: none;
}
.bg-custom{
    background-color:#52819d;
}
.progress{
    height: 25px;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%
}
#step5 .col-12{
    padding-bottom: 35px;
}
.loader {
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 25px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}
#theProgressBar{
    display: none;
    margin-bottom: 36px;
}
/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
#percentage{
    color: #52819d;
}
@media (max-width:768px) {
    #theProgressBar{
        margin-bottom: 78px;
    }
    #percentage{
        margin-left: -18px;
    }
}