
.dialerWrapper {
    width: 100%;
}

.dialerCallScreen {
    display: none;
}

.dialerNumPad, .dialerCallScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 20px;
}

.dialerWrapper_row {
    /* height: 100px; */
    width: 100%;
    flex: 1;
    display: flex;
    justify-content: space-between;
}

.dialerWrapper_col {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    cursor: pointer;
    border: 1px black solid;
}

#dialerBtn {
    cursor: pointer;
}

#numberCallingDiv {
    width: 100%;
    /* height: 100px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#numberInput {
    width: 100%;
    /* height: 100px; */
    text-align: center;
}

#stopCallBtn {
    background: rgb(255, 85, 85);
}

#callBtn {
    background: lightgreen;
}

.exitBtnWrapper{
    flex: 0.4;
    display: flex;
    justify-content: flex-end;
    /* align-items: center; */
    padding: 10px;
}

.shake {
    animation: shake 0.5s;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

.swal-dialer {
    width: 300px;
    height: 500px;
    overflow-y: hidden;
    margin: 0;
    padding: 0;
}

.swal-dialer .swal-content {
    margin: 0;
    padding: 0;
}