<div class="dialerNumPad">
    <div class="dialerWrapper_row exitBtnWrapper">
        <div id="exitBtn">✖</div>
    </div>
    <div class="dialerWrapper_row">
        <input id="numberInput">
        <!-- <input id="numberInput"> -->
    </div>
    <div class="dialerWrapper_row">
        <div class="dialerWrapper_col dialerNumPad_col dialerNumPad_number">1</div>
        <div class="dialerWrapper_col dialerNumPad_col dialerNumPad_number">2</div>
        <div class="dialerWrapper_col dialerNumPad_col dialerNumPad_number">3</div>
    </div>
    <div class="dialerWrapper_row">
        <div class="dialerWrapper_col dialerNumPad_col dialerNumPad_number">4</div>
        <div class="dialerWrapper_col dialerNumPad_col dialerNumPad_number">5</div>
        <div class="dialerWrapper_col dialerNumPad_col dialerNumPad_number">6</div>
    </div>
    <div class="dialerWrapper_row">
        <div class="dialerWrapper_col dialerNumPad_col dialerNumPad_number">7</div>
        <div class="dialerWrapper_col dialerNumPad_col dialerNumPad_number">8</div>
        <div class="dialerWrapper_col dialerNumPad_col dialerNumPad_number">9</div>
    </div>
    <div class="dialerWrapper_row">
        <div class="dialerWrapper_col dialerNumPad_col "></div>
        <div class="dialerWrapper_col dialerNumPad_col dialerNumPad_number">0</div>
        <div class="dialerWrapper_col dialerNumPad_col "></div>
    </div>
    <div class="dialerWrapper_row">
        <div class="dialerWrapper_col dialerNumPad_col"> </div>
        <div class="dialerWrapper_col dialerNumPad_col" id="callBtn">📞</div>
        <div class="dialerWrapper_col dialerNumPad_col" id="backToCallBtn"> </div>
    </div>
</div>


<div class="dialerCallScreen">
    <div class="dialerWrapper_row exitBtnWrapper">
    </div>
    <div class="dialerWrapper_row">
        <div id="numberCallingDiv">
            0504871334
        </div>
    </div>
    <div class="dialerWrapper_row">
        <div class="dialerWrapper_col" id="muteCallBtn">mute</div>
        <div class="dialerWrapper_col"></div>
        <div class="dialerWrapper_col" id="backToKeypadBtn">keypad</div>
    </div>
    <div class="dialerWrapper_row">
        <div class="dialerWrapper_col"> </div>
        <div class="dialerWrapper_col"> </div>
        <div class="dialerWrapper_col"> </div>
    </div>
    <div class="dialerWrapper_row">
        <div class="dialerWrapper_col"> </div>
        <div class="dialerWrapper_col"> </div>
        <div class="dialerWrapper_col"> </div>
    </div>
    <div class="dialerWrapper_row">
        <div class="dialerWrapper_col"> </div>
        <div class="dialerWrapper_col"> </div>
        <div class="dialerWrapper_col"> </div>
    </div>
    <div class="dialerWrapper_row">
        <div class="dialerWrapper_col"> </div>
        <div class="dialerWrapper_col" id="stopCallBtn">Stop</div>
        <div class="dialerWrapper_col"> </div>
    </div>
</div>