.cusmod{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-overflow-scrolling: touch;
    z-index: 2050 !important;
}

.cusmod-dialog{
    z-index: 2200;
    width: 600px;
    margin: 30px auto;
    position: relative;
}

.cusmod-content{
    background-clip: padding-box;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    outline: 0 none;
    position: relative;
    animation-fill-mode: both;
}

.cusmod-header{
    padding: 13px;
    text-align: center;
}

.cusmod-subTitle{
    text-align: center;
}

.cusmod-text{
    text-align: center;
}

.cusmod-headImage{
    min-height: 286px;
    background-size: contain;
    text-align: center;
    background-repeat-y: no-repeat;
    background-position: center;
}

.cusmod-body{
    padding: 0px;
    position: relative;
}

.cusmod-footer{
    padding: 13px;
    text-align: center;
}

.cusmod-back{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* display: none; */
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    z-index: 2050 !important;
    opacity: 0.75;
    background-color: #2a2a2a;
    color: #888;
    font-weight: 300;
    font-size: larger;
    padding: 15px;
    text-align: center;
    transition: opacity .32s linear;
}

.cusmod-close{
    background: none;
    cursor: pointer;
    display: block;
    color: #888;
    opacity: .3;
    border-bottom-left-radius: 3px;
    padding: 3px 10px 5px;
    position: absolute;
    right: 0;
    font-size: 23px;
    line-height: 1;
    top: 0;
    z-index: 10;
    width: 35px;
    text-align: center;
    text-decoration: none;
    box-sizing: border-box;
    transition: opacity .2s ease-out;
    font-family: Helvetica Neue,Helvetica,sans-serif;
}

.cusmod-blue .cusmod-button{
    background-color: #2288ee !important;
}

.cusmod-blue .cusmod-button:hover{
    background-color: #439af1 !important;
}

.cusmod-button{
    background-color: #00ba9b;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
    padding: 8px 18px;
    font-weight: 700;
    display: inline-block;
    position: relative;
    -webkit-font-smoothing: antialiased;
    border-radius: 3px;
    user-select: none;
    transition: background-color .2s ease-out,color .2s ease-out;
    margin-left: 5px;
}

.cusmod-button:hover{
    background-color: #049c83 !important;
    color: #ffffff;
}

.cusmod-button:active{
    box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.2);
}


.cusmod-button-close{
    background-color: #cacaca;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
    padding: 8px 18px;
    font-weight: 700;
    display: inline-block;
    position: relative;
    -webkit-font-smoothing: antialiased;
    border-radius: 3px;
    user-select: none;
    transition: background-color .2s ease-out,color .2s ease-out;
    margin-left: 5px;
}

.cusmod-button-close:hover{
    background-color: #cacaca !important;
    color: #ffffff;
}

.cusmod-button-close:active{
    box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.2);
}