@media only screen and (max-width: 1400px) {
    #calendar{
        height: 100%!important;
    }
    #page-wrapper .rower{
        margin-right: 3px!important;
    }
}
@media only screen and (max-width: 480px) {
    #calendar{
        margin-bottom: 9px !important;
        height: 384px !important;
    }
    .fc-scroller{
        height: 500px !important;
    }
    #page-wrapper .rower{
        margin-right: 3px!important;
    }
    button.fc-today-button.btn.btn-primary{
        display: none!important;
    }
}