@media only screen and (max-width: 1400px) {
    .icheckbox_square-green{
        display: none;
    }
}
@media only screen and (max-width: 480px) {
    .file-box{
        width: 45% !important;
        font-size: 10px;
        margin-left: 16px;
    }
    #items-container{
        overflow: auto;
        margin-top: 25px;
        margin-bottom: 45px;
    }
    .icon{
        padding: 70px 46px 120px 33px !important;
    }
    .file-name small{
        font-size: 8px;
    }
    #treeView{
        display: none;
    }
    .folders input{
        padding: 4px;
    }
    span.fileinput-filename {
        text-overflow: ellipsis;
        overflow: hidden;
        width: 92px;
        white-space: nowrap;
    }
}
@media only screen and (max-width: 350px) {
    .file-box{
        width: 44% !important;
        font-size: 10px;
        margin-left: 10px;
    }
    #items-container{
        height: 400px;
        overflow: auto;
        margin-top: 25px;
        margin-bottom: 50px;
    }
    .icon{
        padding: 54px 46px 113px 23px !important;
    }
    .file-name small{
        font-size: 6px;
    }
    #treeView{
        display: none;
    }
    .folders input{
        padding: 4px;
    }
}