@media only screen and (max-width: 1400px){
    #addGroupBtn{
        float: none !important;
        display: block;
        width: 100%;
        margin-bottom: -34px;
    }
}
@media only screen and (max-width: 480px){
    #addGroupBtn{
        float: none !important;
        display: block;
        width: 100%;
        margin-bottom: -34px;
    }
    #itemBTN,#itemSaveBTN,#h2Span{
        float: none !important;
    }
    #itemBTN,#itemSaveBTN{
        margin-bottom: 5px;
        width: 100%;
    }
    .inventory-group-list{
        margin-top: 0px;
    }
    #buttonsContainer{
        padding-bottom: 0px !important;
    }
    .inventory-group-list {
        margin-top: 12px !important;
    }
}