@media (max-width: 480px) {
    .ibox-tools{
        width: 100%;
    }
    .btn-mobile-block{
        width: 100% !important;
    }
    #refreshLead{
        display: none;
    }
    #leadsButtons a,#leadsButtons button{
        width: 100% !important;
    }
    #datePicker{
        width: 100% !important;
        padding:  0 !important;
        margin-right: 0 !important;
        text-align: center;
    }
    .totalLeadsSpan{
        display: none;
    }
    .fa .fa-calendar{
        margin-top: 3px;
    }
    .btn-sm{
        margin-bottom: 5px;
        margin-right: 4px;
    }
    #reportrange{
        text-align: left;
        float: none !important;
        width: 72% !important;
    }
    #theBTN{
        margin-bottom: 5px;
    }
    #filterBTN .form-control {
        margin-left: 1px;
        width: 100% !important;
        margin-top: 3px;
        margin-bottom: 3px;
    }
    #filterBTN .form-control{
        height: unset !important;
    }
    .backBTN{
        width: 100% !important;
        margin-top: 3px !important;
        margin-right: 0px;
    }
    .inputer span{
        display: inline-block !important;
    }
    .pull-right{
        float: none !important;
        margin-bottom: -29px;
    }
    #filterContainer .pull-right{
        float: none !important;
    }
    #selectedFilters{
        overflow-x: auto;
    }
    div.row div.col-md-12 div.pull-right a{
        padding: 4px;
    }
    #leadsTableHead select{
        min-width: 151px;
        height: 32px !important;
    }
    .mini-navbar #backDay,.mini-navbar #nextDay{
        display: none !important;
    }
    .mini-navbar #reportrange{
        width: 100% !important;
    }
    .reportrange{
        width: 100% !important;
        margin-top: 3px;
    }
    #leadsTableColumnPicker{
        left: 0!important;
    }
}