@media only screen and (max-width: 480px) {
    .middle-box {
        width: 90% !important;
        padding-top: 20px;
    }
    form.m-t .form-group input{
        height: 50px;
        margin-bottom: 19px;
    }
    .loginBTN{
        height: 50px !important;
    }
    .loginscreen{
        width: 90% !important;
        max-width: 90% !important;
    }
}
@media (max-width: 1400px) {
    .loginscreen{
        width: 90% !important;
        max-width: 90% !important;
    }
}