@media only screen and (max-width: 480px) {
    .mydivi button {
        font-size: 12px;
        padding: 6px;
        margin-top: 5px;
    }
    #myOrg:after{
        content: 'Main';
    }
    #organization_tabs{
        margin-bottom: 13px;
    }
    #organization_tabs li a i{
        display: none;
    }
    #organization_tabs li a {
        margin-top: 7px;
        padding: 5px 7px 5px 7px;
        font-size: 13px;
    }
    #organization_tabs li{
        margin-bottom: 1px;
    }
}
@media only screen and (max-width: 350px) {
    .nav li a{
        font-size: 0.8em;
    }
    #organization_tabs li a {
        padding: 5px 7px 5px 7px;
        font-size: 11px;
    }
}