@media only screen and (max-width: 1400px) {
    .buttonsSettings {
        height: 80px;
    }
    #estimateEmailId,#estimateEmailAddressId{
        width: 100% !important;
    }
    #mobileBottom .tab-pane .form-group {
        margin-bottom: 30px;
    }
}
@media only screen and (max-width: 480px) {
    .buttonsSettings {
        height: 100px;
    }
    #estimateEmailId,#estimateEmailAddressId{
        width: 35% !important;
    }
    #mobileBottom .tab-pane .form-group {
        margin-bottom: 43px;
    }
}
