@media only screen and (max-width: 480px){
    #trucksRightDetails{
        float: none !important;
    }
    #trucksLeftDetails{
        float: none !important;
    }
    #truckRightButtons button{
        width: 100%;
        margin-bottom: 3px;
        margin-left: 0 !important;
    }
    #storageRightButtons button{
        width: 100%;
        margin-bottom: 3px;
        margin-left: 0 !important;
    }
    #divBottomStorageLeft,#divTopStorageLeft,#divBottomStorageRight,#divTopStorageRight{
        float: none !important;
    }
    #estimateEmailId,#estimateEmailAddressId,#mailCenter{
        margin-bottom: 5px;
        width: 100% !important;
    }
    span a[target='_blank']{
        width: 100%;
        display: inline-block;
        padding: 6px 12px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
        background-color: #1ab394;
        border-color: #1ab394;
        color: #FFFFFF;
    }
    #movingSettings .tab-pane .form-group {
        padding-bottom: 3px;
    }
}