@media (min-width: 1550px) {
    .desktopLongText{
        width: 123px;
    }
}
@media (max-width: 1550px) {
    .mobileOrder{
        display:flex;
        flex-flow: column;
    }
    .mobileOrder1{
        order: 1;
    }
    .mobileOrder2{
        order: 2;
    }
    .dater{
        width: 100% !important;
    }
}
@media (max-width: 1400px) {
    .inputer-width{
        width: 166px !important;
    }
}
@media (max-width: 480px) {
    .ibox-heading p button{
        width: 100%;
        margin: 0px 0px 5px 0px !important;
    }
    .ibox-heading{
        height: 166px !important;
    }
    p{
        margin: 0;
    }
    #headerDiv{
        margin-top: 100px !important;
    }
    ul#navList li{
        margin: -7px;
        font-size: 10px;
    }
    ul#navList{
        height: 30px;
    }
    #updateLeadButton:after{
        content:"Contact" !important;
    }
    #updateMovingButton:after{
        content:"Moving" !important;
    }
    #updatedLead .form-group .row .col-sm-7,#updatedLead .form-group .row .col-sm-2{
        display:inline;
    }
    #updatedLead .form-group .row .col-sm-7 input{
        width: 65%;
        display: inline-table;
        margin-right: 15px;
    }
    #updatedMoving .form-group .row .col-sm-7,#updatedMoving .form-group .row .col-sm-2{
        display:inline;
    }
    #updatedMoving .form-group .row .col-sm-7 input{
        width: 65%;
        display: inline-table;
        margin-right: 15px;
    }
    .mobileDisplay{
        display: none;
    }
    .inputer{
        padding: 2px !important;
    }
    #amount{
        width: 135px !important;
    }
    .addoner{
        width: 166px !important;
    }
    .halfInput{
        width: 82px !important;
    }
    #leadSettingsButtons button{
        margin-bottom: 3px;
    }
}