@media only screen and (max-width: 480px) {
    .middle-box {
        width: 90% !important;
        padding-top: 20px;
    }
    form.m-t .form-group input{
        height: 50px;
    }
    #signUpButton{
        height: 50px !important;
    }
    #countryCode{
        width: 20% !important;
    }
    #countryCode button{
        height: 50px;
        width: 100% !important;
    }
    #phoneNumber{
        width: 100% !important;
    }
    #agreeToTerms{
        height: 14px;
    }
    #registerForm{
        width: 90% !important;
    }
}
@media (max-width: 1400px) {
    #registerForm{
        width: 90% !important;
    }
}