.mini-navbar #currentTime{
    display: none !important;
}
@media (max-width: 768px) {
    .nav.navbar-top-links.navbar-right {
        text-align: right;
    }
}
@media (max-width: 480px) {
    .navbar-form-custom {
        display: inline-table;
        width: 135px !important;
    }
    #top-search{
        font-size: 12px;
    }
}
@media only screen and (min-width: 480px) and (max-width: 1090px) {
    .navbar-form-custom {
        width: 300px !important;
    }
}
@media only screen and (min-width: 1090px) {
    .navbar-form-custom {
        width: 500px !important;
    }
}