#mcp-container{
    display: block;
    width: 100%;
    height: fit-content;
}
#mcp-container .mcp-color{
    vertical-align: middle;
    display: inline-block;
    border: 2px dotted #e5e6e7;
    padding: 1px;
    cursor: pointer;
    margin: 4px;
    height: 25px;
    width: 25px;
    opacity: 0.5;
}
#mcp-container .mcp-color:hover{
    opacity: 1 !important;
}
#mcp-container #customId{
    height: 50px;
    width: 50px;
    opacity: 1 !important;
    border: 2px solid #aaaaab;
}